---
layout: default
---
<main role="main">
  <div class="jumbotron text-center container">
    <h1 class="display-3">Monday's Outstanding Orations</h1>
    <p>Focused, technical, weekly seminar on combinatorial optimization and related topics at TU Delft.</p>
    <p>
    <a class="btn btn-primary btn-lg" href="{{ '/agenda' | relative_url }}" role="button">See the upcoming sessions</a>
    <a class="btn btn-success btn-lg" href="https://forms.gle/kQy7pNfingDq5wQ48" role="button">I want to give a talk</a>
    </p>
  </div>

  <div class="row">
    <div id="benefits" class="container text-center">
      <div class="row">
        <div class="col-md-6">
          <h2> <i class="fa-solid fa-building-columns"></i> We speak model-and-solve</h2>
          <p>Are you working with constraint satisfaction, SAT solving, mixed-integer programming, or any other related framework? We discuss these topics regularly, and many of us are actively involved in a relevant research. </p>
        </div>
        <div class="col-md-6">
          <h2> <i class="fa-solid fa-bolt"></i> Focused discussions</h2>
          <p>We do not segregate the presentation time and audience time: <b>attendees are free to ask questions at any time</b>. Sounds interesting? Then prepare about 20 minutes of the content, and we will support the discussion for the rest of the meeting! </p>
        </div>
      </div>
      <hr>
    </div>
  </div>

  <h2 class="display-4 text-center">Testimonials</h2>
  <div id="testimonials" class="carousel slide h-25" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item text-center p-4 container active">
        <div class="row align-items-center">
          <div class="col-md-2">
            <img src="{{ /assets/img/testimonials-maarten-flippo.jpg | relative_url }}">
          </div>
          <div class="col">
            <p>The MOO is a great event which really helps to discover new papers. The discussions are a valuable addition which help to digest the presented contributions.</p>
            <h3>Maarten Flippo</h3>
            <footer>
              <p>PhD candidate, TU Delft</p>
              <a href="https://maartenflippo.com/" class="btn btn-outline-primary"> <i class="bi bi-globe"></i> </a>
              <a href="https://www.linkedin.com/in/maarten-flippo" class="btn btn-outline-primary"> <i class="bi bi-linkedin"></i> </a>
            </footer>
          </div>
        </div>
      </div>
      <div class="carousel-item text-center p-4 container">
        <div class="row align-items-center">
          <div class="col-md-2">
            <img src="{{ /assets/img/testimonials-dennis-sprokholt.webp | relative_url }}">
          </div>
          <div class="col">
            <p>I presented a paper intersecting with formal verification. While initially concerned this topic was too foreign to the group's interests, they actively connected it to their perspective, sparking an exciting conversation. In particular, the discussion resulted in a successful joint AIDM course project.</p>
            <h3>Dennis Sprokholt</h3>
            <footer>
              <p>PhD candidate, TU Delft</p>
              <a href="https://dennis.life/" class="btn btn-outline-primary"> <i class="bi bi-globe"></i></a>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#testimonials" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#testimonials" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- </main></div> -->

  <div class="container text-center">
    <h2 class="display-4 text-center">How to find us?</h2>
    <p>Our seminar sessions take place every Monday from 11:00 to 12:30 in the <a href="https://maps.app.goo.gl/s7ahUmpQ5AsymVWK7">Building 28</a> of the TU Delft campus, in the Hilbert meeting room on Floor 2.</p>
  </div>
</main>
